<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="assets/icons/tfc-touch-icon.png">
    <link href="css/main.css?{{ random(926132218) }}" media="all" rel="stylesheet">
    <title>Time For Coffee 2 – Prototyp</title>
</head>

<body class="">
<div class="tfc-view tfc-view--home">
    <header class="tfc-navbar tfc-navbar--home tfc-navbar--fixed">
        <section class="tfc-view-section tfc-view-section--navbar">
            <article class="tfc-view-section-content tfc-navbar-search-container">
                <input type="text" name="search" placeholder="Haltestelle suchen" class="tfc-input tfc-input-text tfc-navbar-search-input">
                <button class="tfc-button tfc-button-flat tfc-navbar-search-button">Abbrechen</button>
            </article>
            <div class="tfc-navbar-search-overlay-button"></div>
        </section>
        <aside class="tfc-navbar-border"></aside>
    </header>

    <section class="tfc-scrollview tfc-scrollview--home">
        <main id="tfc-viewcontainer--home" class="tfc-viewcontainer tfc-viewcontainer--with-navbar">
            <section class="tfc-view-section">
                <header class="tfc-view-section-header">
                    <h1 class="tfc-h1 tfc-view-section-header-h1">Favoriten</h1>
                    <button class="tfc-button tfc-button-flat tfc-view-section-header-button" name="tfc-button-edit_favorites">Bearbeiten</button>
                </header>
                <article class="tfc-view-section-content">
                    <ul class="tfc-list tfc-list--favorites">
                        <li class="tfc-list-item tfc-list-item--favorites"><span>Büro Liip Quellenstrasse</span></li>
                        <li class="tfc-list-item tfc-list-item--favorites"><span>Bus 161 Bürkliplatz</span></li>
                        <li class="tfc-list-item tfc-list-item--favorites"><span>Zürich HB</span></li>
                        <li class="tfc-list-item tfc-list-item--favorites"><span>S8 Wollishofen</span></li>
                    </ul>
                </article>
            </section>

            <section class="tfc-view-section">
                <header class="tfc-view-section-header">
                    <h1 class="tfc-h1">In der Nähe</h1>
                </header>
                <article class="tfc-view-section-content">
                    <ul class="tfc-list tfc-list-classic">
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Limmatplatz</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Okenstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Röntgenstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Lettenstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Nordstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Museum für Gestaltung</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Limmatplatz</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Okenstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Röntgenstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Lettenstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Nordstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Museum für Gestaltung</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Limmatplatz</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Okenstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Röntgenstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Lettenstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Nordstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Museum für Gestaltung</li>
                    </ul>
                </article>
            </section>
        </main>
    </section>

    <section class="tfc-scrollview tfc-scrollview--searchresults">
        <aside id="tfc-viewcontainer--searchresults" class="tfc-viewcontainer tfc-viewcontainer--with-navbar">
            <section class="tfc-view-section">
                <article class="tfc-view-section-content">
                    <ul class="tfc-list tfc-list-classic">
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Limmatplatz</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Okenstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Röntgenstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Lettenstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Nordstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Museum für Gestaltung</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Limmatplatz</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Okenstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Röntgenstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Lettenstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Nordstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Museum für Gestaltung</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Limmatplatz</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Okenstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Röntgenstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Lettenstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Nordstrasse</li>
                        <li class="tfc-list-item tfc-list-item--classic">Zürich, Museum für Gestaltung</li>
                    </ul>
                </article>
            </section>
        </aside>
    </section>
</div>

<div class="tfc-view tfc-view--detail">
    <header class="tfc-navbar tfc-navbar--detail">
        <section class="tfc-navbar-detail-container">
            <article class="tfc-view-section-content">
                <h1 class="tfc-h1 tfc-h1--detail">Zürich, Limmatplatz</h1>
            </article>
        </section>
        <aside class="tfc-navbar-border"></aside>
        <aside class="tfc-navbar-background"></aside>
    </header>
    <section class="tfc-scrollview tfc-scrollview--detail">
        <main id="tfc-viewcontainer--detail" class="tfc-viewcontainer tfc-viewcontainer--with-navbar">
            <section class="tfc-view-section">
                <header class="tfc-view-section-header">
                    <h1 class="tfc-h1 tfc-view-section-header-h1">Linien</h1>
                    <button class="tfc-button tfc-button-flat tfc-view-section-header-button" name="tfc-button-filter_station">Filtern</button>
                </header>
                <article class="tfc-view-section-content">
                    <div class="tfc-station-departures-list">
                        {% for departure in stationDepartures[0].departures %}
                            {% include "partials/departure_type.twig" with {'departure': departure, 'style': 'station-departure' } %}
                        {% endfor %}
                    </div>
                </article>
            </section>
            <section class="tfc-view-section">
                <header class="tfc-view-section-header">
                    <h1 class="tfc-h1 tfc-view-section-header-h1">Nächste Abfahrten</h1>
                </header>
                <article class="tfc-view-section-content">
                    <ul class="tfc-list tfc-list-classic">
                        {% for departure in departures %}
                            <li class="tfc-list-item tfc-list-item--departure" data-type="{{ departure.type }}">
                                {% include "partials/departure_type.twig" with {'departure': departure, 'style': 'list' } %}
                                <div class="tfc-list-item--departure-middle">
                                    <div class="tfc-list-item--departure-to">
                                        {{ departure.to }}
                                    </div>
                                    <div class="tfc-list-item--departure-time">
                                        {{ departure.departure.scheduled }}
                                    </div>
                                </div>
                                <div class="tfc-list-item--departure-countdown">
                                    {% set splited = departure.departure.scheduled|split(":") %}
                                    {% set seconds = ((splited[0] * 60) + splited[1]) - 768 %}
                                    {% if seconds == 0 %}
                                        <span class="tfc-departing-now">54</span>
                                    {% else %}
                                        {{ seconds }}'
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </article>
            </section>
        </main>
    </section>
</div>

<script src="js/main.js?{{ random(839270524) }}"></script>
</body>

</html>
